<html ng-app="root">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"/></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
    <script src="root.js"></script>
    <script src="filters.js"></script>
</head>
<body>
<div ng-controller="index">
    <p>Look For: <input type="text" class="form-control" ng-model="srcStr" placeHolder="Enter your search string"/></p>
    <table class="table table-striped">
        <thead style="font-weight: bold;">
        <td>ID</td>
        <td>Filename</td>
        <td>Name</td>
        <td>Author</td>
        <td>Genre</td>
        <td>In-Stock</td>
        <td>Price</td>
        <td>Pages</td>
        </thead>
        <tbody>
        <tr ng-repeat="doc in allDocuments | searchFilter:srcStr">
            <td>{{doc.id}}</td>
            <td>{{doc.originalFileName}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>