<html ng-app="root">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"/></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script><script src="root.js"></script>
    <script src="filters.js"></script>
</head>
<body>
<div ng-controller="index">
    <p>Look For: <input type="text" class="form-control" ng-model="srcStr" placeHolder="Enter your search string"/></p>
    <table class="table table-striped">
        <thead style="font-weight: bold;">
        <td>Doc Id</td>
        <td>Recieved Date</td>
        <td>Original Path</td>
        <td>File Name</td>
        <td>Options</td>
        </thead>
        <tbody>
        <tr ng-repeat="doc in allDocuments | searchFilter:srcStr">
            <td>{{doc.id}}</td>
            <td>{{doc.fileReceivedTime[0] | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{doc.originalFilePath[0]}}</td>
            <td>{{doc.originalFileName[0]}}</td>
            <td><a href="showDocument.html?docId={{doc.id}}&searchTerm={{srcStr}}">View Content</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>